.VerticalMenu {

  width: 200px;

  .Icon {
    padding-left: 0.1rem;
    margin-right: 14px;
    top: 0;
  }

  svg path, svg polygon {
    @include themify($themes) {
        fill: white;  
    }      
  }

  > li > a {
    //color: $black;
    line-height: 1rem;
    position: relative;
    //transition: 0.1s all ease-in-out;
  }

  > li > a:hover {
    text-decoration: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    @include themify($themes) {
      background-color: themed('backgroundColorOpaque');
    }
  }

  > li.title {
    padding: 0.4rem;
    font-weight: bold;
    text-align:center;
    padding-left: 16px;
    color:white;
    @include themify($themes) {
      border-bottom: themed('border');
    }    
  }
}

