ul.Topics {
  max-width: 10rem;
  > li {
    list-style-type: none;
  }
  > li > a.active {
    font-weight: bold;
    overflow: hidden;
  }
  .show-more {
    font-size: 0.9rem;
    font-weight: bold;
    color: $dark-gray;
  }
}

.c-sidebar__header {
  font-weight: bold;
  font-size: 1.125rem;
  margin: 0 0 1rem 0;
}


.c-sidebar__list-item {
  border-radius: 6px;
  opacity: 1;
  margin-bottom: 5px;
}
.c-sidebar__list-item__left {
background: var(---229ac4) 0% 0% no-repeat padding-box;
background: #229AC4 0% 0% no-repeat padding-box;
border-radius: 6px;
opacity: 1;
margin-bottom: 5px;
}
.sidebar__link {
  color: #0C1429
}


.newuileft {
  background: transparent !important;
    box-shadow: unset !important;
}

.newuileft__link {
  color:#0C1429 !important;
}